body {
	height: 1000px;
	width: auto;
	background-color: white;
	font-family: 'Ephesis', cursive;
	font-size: 50px;
	        display: flex;
        justify-content: center; /* horizontal */
        align-items: center;
}

#colorName {
        display: flex;
  	justify-content: center; /* horizontal */
  	align-items: center;
}
